[buildout]
develop = .
parts =
    test
    sphinx

[test]
recipe = zc.recipe.testrunner
eggs = zope.event

[sphinx]
recipe = collective.recipe.sphinxbuilder
build = ${buildout:directory}/docs/_build
source = ${buildout:directory}/docs
outputs = doctest html
script-name = make-docs
extra-paths = ${buildout:directory}/src
